body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

#mainContainer {
    overflow:hidden;
}
#friendDiv {
    width:30%;
    /*background:red;*/
}

.disconnected {
    background:red;
}
.connected {
    background:green;
}
#messageDiv {
    float:right;
    width:65%;
    background:yellow;
    clear:right;
}